<div class="main user-show">
  <div class="container">
    <br>
    <h2><%= @user.name %>さんのページ</h2>
    <div class="user">
      <table class="table table-striped table-bordered">
        <tr>
          <td colspan="2">
            <% if @user.image.present? %>
              <%= image_tag @user.image %>
            <% else %>
              <%= image_tag '/user.png' %>
            <% end %>
            <div class="sname">
              <%= @user.name %>
            </div>
          </td>
        </tr>
        <tr>
          <td>年齢</td>
          <td><%= @user.age %></td>
        </tr>
        <tr>
          <td>性別</td>
          <td><%= @user.gender %></td>
        </tr>
        <tr>
          <td>出身地</td>
          <td><%= @user.town %></td>
        </tr>
        <tr>
          <td colspan="2">自己紹介</td>
        </tr>
        <tr>
          <td colspan="2"><%= @user.introduce %></td>
        </tr>
      </table>
      <% unless current_user == nil %>
        <% if @user.id == current_user.id %>
          <%= link_to edit_user_registration_path(@user) do %>
          プロフィールを編集
          <% end %>
        <% end %>
      <% end %>
    </div>
    
      <h2><%= @user.name %>さんの投稿一覧</h2>
      <% unless @posts.present? %>
        <p><%= @user.name %>さんの投稿はまだありません。</p>
        <% if current_user.present? %>
          <% if @user.id == current_user.id %>
            <strong><p>投稿してみませんか？ </p></strong><a class="btn message" href="/posts/new">投稿する</a>
          <% end %>  
        <% end %>
      <% end %>
      
      <%= render partial: "posts/advice", locals: {posts: @posts}  %>
    
      <div>
        <h2><%= @user.name %>さんのお気に入り一覧</h2>
        <% unless @favorite_posts.present? %>
          <p><%= @user.name %>さんがお気に入り登録した投稿はまだありません。</p>
        <% else %>
            <%= render partial: "posts/advice", locals: {posts: @favorite_posts}  %>
        <% end %>
      </div>
      <% if current_user.present? %>
        <% if @user.id == current_user.id && @posts.present? %>
          <strong><p>投稿ありがとうございます！他にも投稿しませんか？</p></strong><a class="btn message" href="/posts/new">投稿する</a>
        <% end %>
      <% end %>

  </div>
</div>