<div class="main user-show">
  <div class="container">
    <br>
    <h2><%= @user.name %>さんのページ</h2>
    <div class="user">
      <table class="table table-striped table-bordered">
        <tr>
          <td colspan="2">名前  <%= @user.name %></td>
        </tr>
        <tr>
          <td colspan="2">
            <% if @user.image.present? %>
              <%= image_tag @user.image %>
            <% else %>
              <%= image_tag '/user.png' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>年齢</td>
          <td><%= @user.age %></td>
        </tr>
        <tr>
          <td>性別</td>
          <td><%= @user.gender %></td>
        </tr>
        <tr>
          <td>出身地</td>
          <td><%= @user.town %></td>
        </tr>
        <tr>
          <td colspan="2">自己紹介</td>
        </tr>
        <tr>
          <td colspan="2"><%= @user.introduce %></td>
        </tr>
      </table>
      <% unless current_user == nil %>
        <% if @user.id == current_user.id %>
          <%= link_to edit_user_registration_path(@user) do %>編集
          <% end %>
        <% end %>
      <% end %>
    </div>
    
      <h2><%= @user.name %>さんの投稿一覧</h2>
      <% unless @posts.present? %>
        <p><%= @user.name %>さんの投稿はまだありません。</p>
        <% if current_user.present? %>
          <% if @user.id == current_user.id %>
            <p>投稿してみましょう！➡︎ <%= link_to "投稿はこちらから", new_post_path, class: "standard-button" %></p>
          <% end %>  
        <% end %>
      <% end %>
      
      <%= render partial: "posts/advice", locals: {posts: @posts}  %>
      
      <% if current_user.present? %>
        <% if @user.id == current_user.id && @posts.present? %>
          <p>投稿ありがとうございます！他にも投稿しませんか？➡︎ <%= link_to "投稿はこちらから", new_post_path, class: "standard-button" %></p>
        <% end %>
      <% end %>
      
  </div>
</div>