<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <table>
          <tr>
            <td><strong>投稿者</strong></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="pname">
                <%= @user.name %>
              </div>
              <% if @user.image.present? %>
                <%= image_tag @user.image %>
              <% else %>
                <%= image_tag '/user.png' %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong>会社名</strong></td>
          </tr>
          <tr>
            <td><%= @post.company %></td>
          </tr>
          <tr>
            <td><strong>業種</strong></td>
          </tr>
          <tr>
            <td><%= @post.industry %></td>
          </tr>
            <td><strong>一緒に働いていた期間</strong></td>
          </tr>
          <tr>
            <td><%= @post.period %></td>
          </tr>
          <tr>
            <td><strong>どのような人と一緒に働いていましたか？</strong></td>
          </tr>
          <tr>
            <td><%= @post.content %></td>
          </tr>
          <tr>
            <td><strong>大変だったことや気を付けたことはありますか？</strong></td>
          </tr>
          <tr>
            <td><%= @post.matter %></td>
          </tr>
          <tr>
            <td><strong>これから一緒に働く人向けにアドバイスはありますか？</strong></td>
          </tr>
          <tr>
            <td><%= @post.episode %></td>
          </tr>
      </table>
      
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <div class="fav-rank">
        <div id="fav_area">
          <%= render partial: 'favorites/index' %>
        </div>
      </div>
      <% unless current_user == nil %>
        <% if @post.user_id == current_user.id %>
          <div class="post-menus">
            <%= link_to '編集', edit_post_path(@post.id) %>
            <%= link_to '削除', post_path(@post.id),method: :delete, data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やっぱりやめる", title: "ご確認ください" } %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <h4><i class="fa fa-comment fa-fw"></i>コメント</h4>
        <div id="comments_area">
          <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
          <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </div>
      <br>
      <% if user_signed_in? %>
        <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
      <% end %>
    </div>
  </div>
</div>
